*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url('../fonts/source-sans-pro/SourceSansPro-Regular.woff');
}

@font-face {
  font-family: 'Source Sans Pro Light';
  src: url('../fonts/source-sans-pro/SourceSansPro-Light.woff');
}

@font-face {
  font-family: 'Source Sans Pro Extra Light';
  src: url('../fonts/source-sans-pro/SourceSansPro-ExtraLight.woff');
}

#app {
  width: 100%;
  min-height: 100vh;
  background-color: #212121;
}

.container {
  width: 90%;
  min-height: 90vh;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container-photo-profile {
  width: 32%;
  height: 70vh;
  background-color: transparent;
}

.container-title-introduction {
  width: 40%;
  height: 70vh;
  background-color: transparent;
  text-justify: center;
}

.text-theme-white {
  width: 80%;
  font-family: 'Source Sans Pro Extra Light';
  font-size: 100px;
  color: white;
  display: block;
  margin: 7rem 0 0 7.3rem;
}